{% include "partials/header.njk" %}

<section class="pt-xlarge pb-small" data-scroll-section>
    <div class="container">

        <div class="row">
            <div class="offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                    <div class="single-post-title-wrap pb-md-small pb-xsmall">
                        <div class="breacrumbs split-text-lines">
                            <a href="/" title="Strona glówna">
                                Główna
                            </a>
                            <span>
                                |
                            </span>
                            <a href="/realizacje/" title="Realizacje">
                                Realizacje
                            </a>
                            <span>
                                |
                            </span>
                            <span>
                                {{ client }}
                            </span>
                        </div>
                        <h1 class="xl split-text-lines single-post-title my-3">
                            {{ client }}
                        </h1>
                        <div class="breacrumbs split-text-lines">
                            <span>
                                 {{ category }}
                            </span>
                            <span>
                                  |
                            </span>
                            <span>
                                Wykonano:
                            </span>
                            <span>
                                 {{ date | dateDisplay }}
                            </span>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row"> 
            <div class="offset-lg-1 col-lg-10">
                    <div class="parallax-wrap aspect_16-9 fadeIn mb-3 mb-lg-5">
                        <img src="{{ imageMain | url }}" alt="{{ title }}" class="single-post-image img-fluid">
                    </div>
            </div>
        </div>

        <div class="row fadeIn">
            <div class="offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                {{ content | safe}}
                <a href="{{ link }}" title="Zobacz online" class="button magnetic" target="_blank" rel="nofollow" data-strength="100" data-strength-text="50">
                    <span>Zobacz online</span> 
                    <svg fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg" height="11" width="11"><path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-linecap="round" stroke-width="2" stroke-linejoin="round"></path><path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-linecap="round" stroke-width="2" stroke-linejoin="round"></path></svg>
                </a>
            </div>
        </div>

        <div class="row pt-medium fadeIn">
            <div class="offset-md-1 col-md-10">
                <div class="line-x"></div>
            </div>
        </div>

        <div class="offset-md-1 col-md-10">
            <div class="post-navigation pt-small">
                    {%- if collections.works %}
                        {%- set nextPost = collections.works | getNextCollectionItem(page) %}
                        {%- set previousPost = collections.works | getPreviousCollectionItem(page) %}
                        {%- if nextPost or previousPost %}
                            <ul class="row fadeIn">
                                {%- if previousPost %}
                                    <li class="hover-reveal-wrap col-md-6 prev d-none d-md-block">
                                        <p class="mb-4">
                                            <small>
                                                Poprzedni:
                                            </small>
                                        </p>
                                        <a href="{{ previousPost.url | url }}" title="{{ previousPost.data.client }}" class="h4 mb-4">{{ previousPost.data.title }}</a>
                                    </li>
                                {% endif %}
                                {%- if nextPost %}
                                    <li class="hover-reveal-wrap col-md-6 next">
                                        <p class="mb-4">
                                            <small>
                                                Kolejny:
                                            </small>
                                        </p>
                                        <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.client }}" class="h4 mb-4">{{ nextPost.data.title }}</a>
                                    </li>
                                {% endif %}
                            </ul> 
                        {%- endif %}
                    {%- endif %}
                </div>
        </div>

    </div>
</section>

{% include "partials/footer.njk" %}