{% include "partials/header.njk" %}

<section class="pt-xlarge pb-small" data-scroll-section>
    <div class="container">

        <div class="row">
            <div class="offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                <div class="single-post-title-wrap pb-xsmall pb-md-small">
                    <div class="breacrumbs fadeIn">
                        <a href="/" title="Strona główna">
                            Główna
                        </a>
                        <span>
                            |
                        </span>
                        <a href="/blog" title="Blog">
                            Blog
                        </a>
                        <span>
                            |
                        </span>
                        <span>
                            {{ title }}
                        </span>
                    </div>
                    <h1 class="single-post-title split-text-lines my-3">
                        {{ title }}
                    </h1>
                    <div class="breacrumbs fadeIn">
                        <span>
                            Kategoria:
                        </span>
                        <span>
                             {{ tags }}
                        </span>
                        <span>
                              |
                        </span>
                        <span>
                            Opublikowano:
                        </span>
                        <span>
                             {{ date | dateDisplay }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 mx-auto">
                <div class="parallax-wrap aspect_16-9 fadeIn mb-3 mb-lg-5">
                    <img src="{{ thumbnail | url }}" alt="{{ title }}" class="single-post-image img-fluid">
                </div>
        </div>
        <div class="content row fadeIn" id="pinShare">
            <div class="offset-md-2 offset-lg-3 col-md-8 col-lg-6">
                {{ content | safe}}
            </div>
        </div>

        <div class="col-md-10 mx-auto">
                <div class="pt-medium">
                    <div class="line-x"></div>
                </div>

                <div class="post-navigation pt-small">
                    {%- if collections.posts %}
                    {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
                    {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
                    {%- if nextPost or previousPost %}
                    <ul class="row fadeIn">
                        {%- if previousPost %}
                        <div class="swipe-image-wrap col-md-6 prev d-none d-md-block">
                            <img class="swipe-image" src="{{ previousPost.data.thumbnail }}">
                            <div class="text">
                                <p class="mb-4">
                                    <small>
                                        Poprzedni:
                                    </small>
                                </p>
                                <a href="{{ previousPost.url | url }}" title="{{ previousPost.data.client }}"
                                class="h4">{{ previousPost.data.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {%- if nextPost %}
                        <div class="swipe-image-wrap col-md-6 next">
                            <img class="swipe-image" src="{{ nextPost.data.thumbnail }}">
                            <div class="text">
                                <p class="mb-4">
                                    <small>
                                        Kolejny:
                                    </small>
                                </p>
                                <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.client }}"
                                class="h4">{{ nextPost.data.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                    </ul>
                    {%- endif %}
                    {%- endif %}
                </div>

        </div>

    </div>
</section>

{% include "partials/footer.njk" %}