
:root {
    --color-accent-1: rgb(29, 237, 46);
    --color-dark-1: #151c23;
    --color-dark-2: #111b22;
    --color-light-1: #f8f8f8;
    --color-light-2: #ebede9;
    --color-heading: #161a1e;
    --color-text: #3f4b53;
    --color-border: #2f3d47;
}

@media (prefers-color-scheme:dark) {
    :root {
    --color-dark-1: #f8f8f8;
    --color-dark-2: #ebede9;
    --color-light-1: #151c23;
    --color-light-2: #16191c;
    --color-heading: #fff;
    --color-text: #c5c5c5;
    --color-border: #eee;
    }
  }
  
  .light {
    --color-accent-1: rgb(29, 237, 46);
    --color-dark-1: #151c23;
    --color-dark-2: #111b22;
    --color-light-1: #f8f8f8;
    --color-light-2: #ebede9;
    --color-heading: #161a1e;
    --color-text: #3f4b53;
    --color-border: #2f3d47;
  }
  
  .dark {
    --color-dark-1: #f8f8f8;
    --color-dark-2: #ebede9;
    --color-light-1: #151c23;
    --color-light-2: #16191c;
    --color-heading: #fff;
    --color-text: #c5c5c5;
    --color-border: #eee;
}

  .bg-light {
    background-color: #f8f8f8
  }
  .bg-dark {
    background-color: #121920
  }

  .color-accent-1 {
    color: var(--color-accent-1)
  }
