
:root {
    --color-accent-1: #1DED2E;
    --color-accent-2: #32be3e;
    --color-dark-1: #151c23;
    --color-dark-2: #1d242b;
    --color-light-1: #f8f8f8;
    --color-light-2: #f4f3ec;
    --color-heading: #202834;
    --color-text: #657885;
    --color-border: #2f3d47;
}

@media (prefers-color-scheme:dark) {
    :root {
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f4f3ec;
    --color-light-1: #151c23;
    --color-light-2: #1d242b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #eee;
    }
  }
  
  .light {
    --color-dark-1: #151c23;
    --color-dark-2: #1d242b;
    --color-light-1: #f8f8f8;
    --color-light-2: #f4f3ec;
    --color-heading: #202834;
    --color-text: #657885;
    --color-border: #2f3d47;
  }
  
  .dark {
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f4f3ec;
    --color-light-1: #151c23;
    --color-light-2: #1d242b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #eee;
}

  .bg-light {
    background-color: #f8f8f8
  }
  .bg-dark {
    background-color: #121920
  }

  .color-accent-1 {
    color: var(--color-accent-1)
  }
