
:root {
    --color-accent-1: #31FF8B;
    --color-accent-2: #251749;
    --color-dark-1: #151c23;
    --color-dark-2: #1d242b;
    --color-light-1: #fdfdfd;
    --color-light-2: #f3f5f9;
    --color-heading: #101b2b;
    --color-text: #657885;
    --color-border: #2f3d47;
}

@media (prefers-color-scheme:dark) {
    :root {
    --color-accent-1: #ed6953;
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f4f3ec;
    --color-light-1: #151c23;
    --color-light-2: #1d242b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #eee;
    }
  }
  
  .light {
    --color-dark-1: #151c23;
    --color-dark-2: #1d242b;
    --color-light-1: #fdfdfd;
    --color-light-2: #f3f5f9;
    --color-heading: #101b2b;
    --color-text: #657885;
    --color-border: #2f3d47;
  }
  
  .dark {
    --color-accent-1: #ed6953;
    --color-dark-1: #f8f8f8;
    --color-dark-2: #f4f3ec;
    --color-light-1: #151c23;
    --color-light-2: #1d242b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #eee;
}

  .bg-light {
    background-color: #f8f8f8
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-light-2 {
    background-color: var(--color-light-2)
  }
  .bg-dark {
    background-color: #121920
  }

  .color-accent-1 {
    color: var(--color-accent-1)
  }

  .color-link {
    font-weight: 500;
    color: var(--color-accent-1);
  }