:root {
  --bs-gutter-x: 25px;
  --bs-gutter-y: 25px;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    color: var(--color-text);
    font-family: var(--font-primary);
    font-weight: 200
  }

  .scrollContainer {
    background-color: var(--color-light-1);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit
  }

  .link {
    position: relative;
    display: inline-block
  }

  .link::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-text);
    transition: .3s cubic-bezier(.79,0,.07,.88)
  }

  .link:hover::before {
    width: 100%;
  }

  .link-white::before {
    background-color: #fff
  }

  .post-navigation a {
    position: relative;
    display: inline-block;
    mix-blend-mode: exclusion;
    z-index: 9
  }

  ul, li {
    padding-left: 0;
    list-style: none
  }
.h-100 {
  height: 100%
}
.w-100 {
  width: 100%
}
.w-200 {
  white-space: nowrap;
}
.w-200 span {
  display: inline-block
}

.loop-text {
    display: inline-block;
    white-space: nowrap;
  }
.loop-text span {
    display: inline-block
  }
  section {
    max-width: 100%
  }

.dot {
  color: var(--color-accent-1);
  font-weight: 500
}

.breacrumbs {
  font-size: 14px;
  font-weight: 200
}

@media(min-width:767px) {
  html {
    overflow-y: hidden
  }
}


.about-img-wrap {
  position: relative;
}

.about-img-wrap div:nth-child(2) {
  position: absolute;
  bottom: 16%;
  left: -20%;
  width: 63%;
  z-index: 1;
}


@media(min-width:767px) {
  .works-grid .works-grid-item:nth-child(even) {
    transform: translateY(6em)
  }
}

.link-arrow {
  display: inline-block;
  font-size: 18px;
  font-weight: 300
}
.link-arrow svg {
  margin-bottom: -3px;
  transition: .3s cubic-bezier(.79,0,.07,.88)
}
.link-arrow:hover svg {
  transform: rotate(45deg)
}

/*  Line
--------------------------------- */

.line-x {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-border)
}
.lx-1 {
  height: 1px
}
.lx-2 {
  height: 2px
}
.lx-op {
  opacity: .15
}
.lx-light {
  background-color: #fff
}

.h-line-y {
  position: relative;
  display: block;
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: .2;
  z-index: 99
}

.section-brief {
  height: 100vh;
  margin-bottom: 0
}

.brief {
  width: 1px; 
  min-width: 100%; 
  min-height: 100vh; 
  height: 100%; 
  border: none;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: .8s;
  animation-fill-mode: forwards
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


.scrollprogress-wrap {
  position: relative;
  height: calc(100vh - 50px);
  width: 1px
}

.scrollprogress-wrap::before {
  position: absolute;
  content: "";
  top: 25px;
  bottom: 40px;
  left: 0;
  width: 1px;
  background: rgba(153, 153, 153, 0.2)
}

.scrollprogress {
  position: fixed;
  top: 25px;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 2px;
  height: 0;
  border: none;
  background: var(--color-dark-1);
  opacity: .18
}
.scrollprogress::-webkit-progress-bar {
  background: transparent;
}
.scrollprogress::-webkit-progress-value {
  background: #222;
  background-attachment: fixed;
}
.scrollprogress::-moz-progress-bar {
  background: #222;
  background-attachment: fixed;
}



.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

