
.transition-fade {
  opacity: 1;
	transform: translateY(0);
	transition: .7s ease-in-out
}
  
html.is-animating .transition-fade {
transform: translateY(-20vh);
opacity: 0
}

html.is-rendering .transition-fade {
transform: translateY(5vh);
opacity: 0
}

@keyframes page-overlay-anim {
  0%   	{ transform: translate(0, 100%); }
  65% 	{ transform: translate(0, 0%); }
  75% 	{ transform: translate(0, 0%); }
  100% 	{ transform: translate(0, -100%); }
}

.page-overlay-in {
  	display: block !important;
	  transform: translate(0, 100%);
}
  
html.is-changing .page-overlay-in {
  	animation: page-overlay-anim 1.3s 1; 
  	animation-timing-function: cubic-bezier(.49,.16,.33,1);
}

.swup-progress-bar {
    height: 3px;
    background-color: var(--color-light-1);
    z-index: 999999
  }
  