:root {
  --font-primary: "Hanken Grotesk";
  --font-secondary: "Poppins";
}

.xxxl {
  margin-bottom: .5em;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 1px;
  color: var(--color-heading)
}

.xxl {
  margin-bottom: .5em;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-heading)
}

.xl {
  margin-bottom: .5em;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-heading)
}

h1, .h1 {
    margin-bottom: .5em;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-heading)
  }
  
h2, .h2 {
  margin-bottom: .8em;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-heading)
}

h3, .h3 {
  margin-bottom: .8em;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-heading)
}

h4, .h4 {
margin-bottom: 1em;
font-size: 21px;
font-weight: 700;
line-height: 1.4;
color: var(--color-heading)
}

h5, .h5 {
  margin-bottom: 1em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-heading)
}

h6, .h6 {
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-heading)
}

p, .paragraph, li {
  margin-bottom: 2em;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: var(--color-text)
}

ol li {
  margin-bottom: 1em
}

blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: 3px solid var(--color-accent-1)
}

.text-behind {
  position: relative
}

.text-behind::before {
  position: absolute;
  content: attr(tg-txt-name);
  top: 43%;
  left: -5px;
  transform: translateY(-50%);
  font-family: "Syne";
  font-size: 44px;
  font-weight: 800;
  letter-spacing: -0.05em;
  color: var(--color-light-1);
  -webkit-text-stroke: 2px solid var(--color-light-2);
}

.text-medium {
  font-size: 18px
}

small, .small {
  font-size: 12px;
  line-height: 1.8
}

.subheading {
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px
}

strong,
blockquote p {
  font-weight: 400;
  color: var(--color-dark-2)
}

.capitalize {
  text-transform: capitalize
}

.capitalize-f .char:first-child {
  text-transform: capitalize
}

.uppercase {
  text-transform: uppercase
}

.text-center {
  text-align: center
}

.text-end {
  text-align: end
}

.color-heading {
  color: #fff
}

.color-text {
  color: #ddd
}

@media(min-width:767px) {
  .xxxl {
    font-size: clamp(50px, 6.9vw, 95px)
  }
  .xxl {
    font-size: clamp(41px, 5.5vw, 100px)
  }
  .xl {
    font-size: clamp(33px, 4.2vw, 88px)
  }
  h1, .h1 {
    font-size: clamp(26px, 4vw, 72px)
  }
  h2, .h2 {
    font-size: clamp(21px, 3.3vw, 40px)
  }
  h3, .h3 {
    font-size: clamp(17px, 2.7vw, 32px)
  }
  h4, .h4 {
    font-size: clamp(14px, 2.2vw, 26px)
  }
  h5, .h5 {
    font-size: clamp(12px, 1.9vw, 21px)
  }
  p, .paragraph {
    font-size: clamp(14px, 1.1vw, 17px)
  }
  blockquote {
    padding-left: 1.8em
  }
  .text-behind::before {
    font-size: 140px
  }
  .text-medium {
    font-size: clamp(16px, 1.2vw, 21px)
  }
  .text-md-end {
    text-align: end
  }
}

.line-parent { 
  margin-top: -0.2em;
  margin-bottom: -0.2em;
  overflow: hidden
}

.char-perspective {
  perspective: 200px;
  perspective-origin: 80% 50%
}

.char-parent {
  will-change: transform;
  transform-style: preserve-3d
}

.line-clamp-2,
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden
}

.line-clamp-2 {
  -webkit-line-clamp: 2
}

.line-clamp-3 {
    -webkit-line-clamp: 3
}

.line-clamp-2 .line-parent:nth-child(3),
.line-clamp-2 .line-parent:nth-child(4),
.line-clamp-2 .line-parent:nth-child(5) {
  display: none!important
}

.line-clamp-3 .line-parent:nth-child(4),
.line-clamp-3 .line-parent:nth-child(5) {
  display: none!important
}


