
.category-card {
    position: relative;
    padding: 1em 1.2em;
    margin-bottom: 1em;
    background-color: var(--color-light-1);
    border: 2px solid var(--color-dark-1);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden
}

.category-card::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-dark-1);
    transform: translateY(-100%);
    transition: .3s ease-in-out;
    z-index: -1
}

.category-card:hover h3 {
    color: var(--color-light-2);
}

.category-card:hover::after {
    transform: translateY(0)
}

.archive-category {
    margin: 1.8em 0 1.3em;
    padding: 2px 20px 1px;
    width: fit-content;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--color-accent-2);
    color: #fff;
    border-radius: 3px
}

@media(min-width:767px) {
    .category-card {
        padding: 1em 1.2em
    }
}