.button {
    display: inline-block;
    position: relative;
    padding: 1em 0 0.9em
}

.button::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -1em;
    width: 0;
    border-radius: 28px;
    background: var(--color-dark-1);
    transition: 0.4s cubic-bezier(.79,0,.07,.88);
    z-index: -1
}

.button span {
    display: inline-block;
    font-weight: 500;
    color: var(--color-heading);
    transition: .4s cubic-bezier(.79,0,.07,.88)
}

.button svg {
    margin-left: 25px;
    transform: rotate(45deg);
    transition: .4s cubic-bezier(.79,0,.07,.88)
}

.button svg path {
    stroke: var(--color-accent-1);
    transition: .4s cubic-bezier(.79,0,.07,.88)
}

.button-big {
    display: inline-block;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-accent-1);
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff
}

@media(min-width:767px) {
    .button:hover::before {
        width: calc(100% + 1em)
    }
    
    .button:hover span {
        color: var(--color-light-2);
        transform: translateX(20px)
    }
    .button:hover svg {
        transform: rotate(360deg)
    }
    .button:hover svg path {
        stroke: var(--color-light-2);
    }
}