.site-footer {
    background: #080d10;
    background-size: cover;
    background-position: center;
}

.footer-parallax {
    position: relative;
    z-index: -1
}

.site-footer p,
.site-footer a {
    color: #fff
}

.footer-top {
    padding: 150px 0 20px;
    pointer-events: none
}

.footer-top .lets-talk {
    font-weight: 300
}

.footer-bottom {
    padding: 0 0 60px;
}

.footer-arrow {
    width: 24px;
    transform: rotate(90deg) translateX(7px)
}

.footer-mail {
    font-size: 20px
}

.copywright span {
    font-size: 12px;
    font-weight: 200;
    opacity: .5
}

.copywright a {
    font-size: 12px;
    font-weight: 300;
    opacity: .8
}

@media(min-width:767px) {
    .footer-mail {
        font-size: 46px
    }
    .footer-arrow {
        width: 28px
    }
}

@media(min-width:1200px) {
    .footer-arrow {
        width: 46px;
        margin-bottom: 7px
    }
}

