.site-footer {
    position: relative;
    background: #11171a;
    background-size: cover;
    background-position: center
}

.footer-parallax {
    position: relative
}

.site-footer p,
.site-footer a:not(.button-big) {
    color: #fff
}

.footer-top {
    position: relative;
    padding: 150px 0 20px;
    z-index: 9
}

.footer-top .lets-talk {
    font-family: var(--font-primary);
    font-weight: 700
}

.footer-top .button-big {
    margin-bottom: -110px;
    margin-top: 60px
}

.footer-bottom {
    padding: 0 0 70px;
}

.footer-arrow {
    width: 24px;
    transform: rotate(90deg) translateX(7px)
}

.footer-mail {
    font-size: 20px
}

.copywright {
    padding-bottom: 2em
}

.copywright span {
    font-size: 12px;
    font-weight: 200;
    opacity: .8
}

.copywright a {
    font-size: 12px;
    font-weight: 300;
    opacity: .8
}

@media(min-width:767px) {
    .site-footer {
        z-index: 0
    }
    .footer-top .button-big {
        margin-top: 170px
    }
    .footer-mail {
        font-size: 38px
    }
    .footer-arrow {
        width: 28px
    }
}

@media(min-width:1200px) {
    .footer-arrow {
        width: 46px;
        margin-bottom: 7px
    }
    .footer-top .button-big {
        margin-top: 8.2em;
        margin-bottom: -5.5em
    }
}

