.site-header {
  position: fixed;
  left: 0; 
  top: 0;
  padding-top: 35px;
  width: 100vw;
  opacity: 0;
  animation: headerFade .1s forwards .2s;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999
}

@keyframes headerFade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.logo-wrap {
  pointer-events: all
}

.logo-wrap-inner {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-1);
  pointer-events: none;
  opacity: 1;
  z-index: 9
}

.page-overlay-in {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: none;
  height: 100vh;
  background-color: var(--color-light-2)
}

.logo-wrap a {
  display: block;
  width: 111%;
  height: auto
}

.logo rect {
  fill: #fff
}

.menu-toggle {
  margin-top: 10px;
  background: transparent;
  border: none;
  pointer-events: all;
  cursor: pointer
}

.hamburger path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round
}

.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 99
}

.menu-bg {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #10151a;
  z-index: 99
}

.main-menu {
  position: relative;
  z-index: 999;
}

.main-menu ul {
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
  counter-reset: li
}

.main-menu li {
  margin-bottom: 1.8em;
  width: 100%;
  overflow: hidden;
  transition: transform .3s ease-in-out 0s;
}
.main-menu li a {
  position: relative;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 700;
  display: inline-block;
  line-height: 1.2;
  transition: opacity .2s ease-in-out;
  opacity: .85;
}
.main-menu ul li a::before {
  content: "0" counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 30%;
  font-weight: 300;
  color: #fff;
  opacity: .6
}
.main-menu ul li a:hover {
  opacity: 1
} 

.nav-info {
  position: relative;
  margin-top: -27px;
  z-index: 99
}

.nav-info-list {
  margin-bottom: 38px
}

.nav-info-list li {
  margin-bottom: .5em
}

.nav-info-list li a {
  font-size: 15px;
  font-weight: 300
}

.nav-info-social svg {
  margin-right: 5px
}

.change-theme {
	display: inline-block;
	margin-left: 1em;
	border: none;
	background-color: transparent;
	color: #fff;
  transform: translateY(0.5em) translateX(-.5em);
	transition: all 0.3s ease-in-out;
  pointer-events: all;
  cursor: pointer
}
  
.change-theme .moon {
	display: none
}

.change-theme .sun {
	display: block
  }

.light .change-theme .moon {
	display: block
}

.light .change-theme .sun {
	display: none
  }

.dark .change-theme .sun {
	display: block
  }
  
.dark .change-theme .moon {
	display: none
  }


@media(min-width: 1200px) {
.logo-text-line-1,
.logo-text-line-2,
.logo-text-line-3 {
  line-height: 1.1;
}
}

@media(min-width: 1400px) {
  .logo-text-line-1,
  .logo-text-line-2,
  .logo-text-line-3 {
    line-height: 1.3;
  }
  }

@media(max-width:767px) {
  .site-header {
    padding-top: 25px
  }
  .menu-toggle {
    margin-top: 0
  }  
.logo-text-line-1,
.logo-text-line-2,
.logo-text-line-3 {
  line-height: 1.45;
}
  .main-menu ul {
    padding-left: 0
  }
  .main-menu li a {
      font-size: 35px
  }
}
