.site-header {
  position: fixed;
  left: 0; 
  top: 0;
  padding-top: 25px;
  width: 100vw;
  opacity: 0;
  animation: headerFade .1s forwards .2s;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999
}

@keyframes headerFade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.logo-wrap {
  pointer-events: all
}

.logo-wrap-inner {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-light-1);
  pointer-events: none;
  opacity: 1;
  z-index: 9
}

.logo-wrap svg {
  width: 100%;
  height: auto
}

.logo rect {
  fill: #fff
}

.menu-toggle {
  margin-top: 10px;
  background: transparent;
  border: none;
  pointer-events: all;
  cursor: pointer
}

.hamburger path {
  fill: none;
  stroke: #fff;
  stroke-linecap: round
}

.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 99
}

.menu-bg {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #050505;
  z-index: 99
}

.main-menu {
  position: relative;
  z-index: 999;
}

.main-menu ul {
  padding-left: 0;
  list-style-type: none;
  counter-reset: li
}

.main-menu li {
  margin-bottom: 2.8em;
  width: 100%;
  overflow: hidden;
  transition: transform .3s ease-in-out 0s;
}
.main-menu li a {
  position: relative;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  display: inline-block;
  line-height: 1;
  transition: opacity .2s ease-in-out;
  opacity: .85;
}
.main-menu ul li a::before {
  content: "0" counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 30%;
  opacity: .5
}
.main-menu ul li a:hover {
  opacity: 1
} 

.nav-info {
  position: relative;
  margin-top: -25px;
  z-index: 99
}

.nav-info-list {
  margin-bottom: 38px
}

.nav-info-list li {
  margin-bottom: .5em
}

.nav-info-list li a {
  font-size: 15px;
  font-weight: 300
}

.nav-info-social svg {
  margin-right: 5px
}

@media(max-width:767px) {
  .menu-toggle {
    margin-top: 0
  }  
  .main-menu li a {
      font-size: 35px;
  }
}