  .logo-hero {
    mix-blend-mode: difference
  }
  .decoration {
    width: 400px;
    height: 350px;
    filter: blur(210px);
    background-color: #5cf7b6;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    bottom: auto;
    left: auto;
    right: -100px;
    opacity: .4;
    z-index: -1;
  }

  .rotate-text {
    width: 90%
  }

  .textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
  }
  
  text {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    font-variant-ligatures: none;
    fill: var(--color-dark-1);
    letter-spacing: 5px;
    animation: rotate 25s linear infinite;
    transform-origin: 250px 250px;
    opacity: 0.5
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media(min-width:767px) {
  .hero .container {
    position: relative;
  }
  .hero .container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 33%;
    width: 57%;
    height: 100%;
    background: var(--color-light-2);
    border-radius: 8px;
    z-index: -1;
    opacity: .75
  }

  .hero h1 .line-parent:nth-child(1) {
  text-shadow: 1.5px 1.5px 0 var(--color-heading), -1.5px -1.5px 0 var(--color-heading), 1.5px -1.5px 0 var(--color-heading), -1.5px 1.5px 0 var(--color-heading), 1.5px 1.5px 0 var(--color-heading);
  color: var(--color-light-1);
  font-weight: 600
}

.hero h1 .line-parent:nth-child(2),
.hero h1 .line-parent:nth-child(3) {
  text-shadow: 1px 1px 0 var(--color-heading), -1px -1px 0 var(--color-heading), 1px -1px 0 var(--color-heading), -1px 1px 0 var(--color-heading), 1px 1px 0 var(--color-heading);
  color: var(--color-heading);
  font-weight: 500
}

}

