
  .details {
      min-height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .details:last-child {
    padding-bottom: 90px
  }
  
  .right {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .photos {
      aspect-ratio: 4/4;
      position: relative;
      max-height: 65vh;
      border-radius: 13px;
      overflow: hidden
  }
  
  .photo {
      position: absolute;
      width: 100%;
      height: 100%;
  }
  
  .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover
  }
  
  
  
  