.section-services {
    overflow: hidden
}

.service-number {
    font-weight: 700;
    margin-top: 10px;
    opacity: .8
}

.service-arrow {
    opacity: .8
}

@media(min-width:767px) {
    .service-item {
        position: relative
    }
    .section-services .service-item .color-heading,
    .section-services .service-item .color-text {
        transition: .6s cubic-bezier(.79,0,.07,.88)
    }
    .section-services .service-item::before {
        position: absolute;
        content: "";
        top: 0;
        left: 8.32%;
        right: 8.32%;
        bottom: 100%;
        background-color: #fff;
        mix-blend-mode: difference;
        transition: .6s cubic-bezier(.79,0,.07,.88);
        z-index: 0
    }
    .section-services .service-item:hover::before {
        top: 0;
        bottom: 0
    }
    .section-services .service-number,
    .section-services .service-arrow {
        color: var(--color-accent-1);
        transition: .5s cubic-bezier(.79,0,.07,.88)
    }
    .section-services .service-item:hover .service-number,
    .section-services .service-item:hover .service-arrow {
        opacity: 0
    }
    .section-services .service-item:hover .color-heading {
        color: #111
    }
    .section-services .service-item:hover .color-text {
        color: #444
    }
}
