
.step-card-num {
    position: relative;
    font-size: clamp(45px, 5vw, 90px);
    font-weight: 800;
    color: var(--color-light-2);
}

.step-card-num:not(:last-child)::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: 2px;
    background-color: var(--color-light-2)
}


.step-card-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-accent-1);
    transform: translateX(-50%) translateY(-50%)
}