</div>
</div>
<!-- Scripts -->
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  // Init locomotive
  const locoScroll = new LocomotiveScroll({
    el: document.querySelector(".scrollContainer"),
    smooth: true,
    reloadOnContextChange: !0,
    multiplier: .75,
    lerp: .1,
    touchMultiplier: 2,
    tablet: {
      smooth: !0
    },
    smartphone: {
      smooth: !0
    }
  });
  // Swup init
  const swup = new Swup({
    animateHistoryBrowsing: true,
    plugins: [
      new SwupProgressPlugin(),
      new SwupBodyClassPlugin()
    ]
  });
  // Swup events re-init scripts
  document.addEventListener("swup:animationInStart", () => {
    locoScroll.destroy(), locoScroll.init(), scrollTo(top)
  });
  document.addEventListener("swup:animationInDone", () => {
    animationMain()
  }), console.clear();
</script>
<script>
  animationMain();
</script>
{% if path == "home" %}
<!-- Netlify Identity Widget -->
<!-- Needed only if you are using Netlify Identity feature -->
<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endif %}
</body>
</html>