---
layout: layouts/base.njk
permalink: 404.html
---

<section class="pt-xlarge pb-xlarge h-100vh" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1 class="xl">
                    Nie znaleziono strony
                </h1>
                <p>
                    <a href="/">Wróć na stronę główną</a>
                </p>
            </div>
        </div>
    </div>
</section>