---
layout: layouts/base.njk
permalink: 404.html
---

<section>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1>
                    Nie znaleziono strony
                </h1>
            </div>
        </div>
    </div>
</section>