---
layout: layouts/base.njk
permalink: 404.html
robots: noindex
---

<section class="pt-xlarge pb-xlarge h-100vh" data-scroll-section>
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1 class="xl split-text-lines">
                    Nie znaleziono strony
                </h1>
                <a href="{{ post.url }}" title="Wróć na stronę główną" class="button magnetic fadeIn mt-3 mb-4" data-strength="50" data-strength-text="50">
                    <span>Wróć na stronę główną</span>
                    <svg width="11" height="11" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>