---
pagination: 
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true
layout: layouts/blog.njk
permalink: /blog/{{tag | slugify}}/
eleventyComputed:
    title: Kategoria {{tag}}
---
     
<div class="row gx-4">
  <div class="offset-md-1 col-md-8">
    <h1 class="xxl capitalize-f" data-splitting>
      {{ tag }}<span class="dot">.</span>
    </h1>
  </div>
  <div class="col-md-2 d-none d-lg-flex align-items-end pb-small fadeIn">
    <svg width="87" height="152" viewBox="0 0 127 192" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M63.5 1L63.5 191" stroke="var(--color-dark-1)" stroke-width="2" stroke-linecap="round"/>
      <path d="M126 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-width="2" stroke-linecap="round"/>
      <path d="M1 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-width="2" stroke-linecap="round"/>
      </svg>            
  </div>
</div>

<div class="row gx-4 pb-medium">
  <div class="offset-md-1 col-md-10">
    <div class="line-x lx-2"></div>
  </div>
</div>

<div class="row gx-0">
    <div class="offset-md-1 col-md-10">
      <div class="row gx-4 pb-medium">
        <div class="col-md-3">
            <a href="/blog/strony-www/" title="Strony www">
          <div class="category-card fadeIn">
            <h3 class="h5 my-1"> Strony www </h3>
          </div>
          </a>
        </div>
        <div class="col-md-3">
            <a href="/blog/pozycjonowanie/" title="Pozycjonowanie">
          <div class="category-card fadeIn">
            <h3 class="h5 my-1"> Pozycjonowanie </h3>
          </div>
          </a>
        </div>
        <div class="col-md-3">
            <a href="/blog/marketing/" title="Marketing">
          <div class="category-card fadeIn">
            <h3 class="h5 my-1"> Marketing </h3>
          </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="/blog/wordpress/" title="Wordpress">
          <div class="category-card fadeIn">
            <h3 class="h5 my-1"> Wordpress </h3>
          </div>
        </a>
        </div>
      </div>
        <div class="row gx-4"> 
            {% for post in collections[tag] %} 
            <div class="col-md-6 fadeIn">
                <a href="{{ post.url }}" title="{{ post.data.title }}">
                    <div class="archive-post pb-small">
                        <div class="portfolio-item">
                        <div class="parallax-wrap aspect_16-9">
                            <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" loading="lazy" />
                        </div>
                        </div>
                        <p class="archive-post-date mt-3 mb-1">
                            <small>{{ post.data.date | dateDisplay}}</small>
                            <small>{{ post.data.tag }}</small>
                        </p>
                        <h2 class="archive-post-title h4 mt-0">
                            {{ post.data.title }}
                        </h2>
                    </div>
                </a>
            </div> 
            {% endfor %} 
        </div>
    </div>
</div>