<section class="pt-medium pt-md-small pb-medium" data-scroll-section>
    <div class="container">
        <div class="row gx-5">
            <div class="offset-md-1 col-md-4 d-flex flex-wrap align-items-center">
              <div class="">
                <h2 class="h1 mb-4 split-text-lines">
                O mnie<span class="dot">.</span>
                </h2>
                <p class="split-text-lines">
                  Rozmawiam, planuje, szkicuje, tropie nowinki techniczne, depcze po piętach najnowszym trendom. Dbam o aspekty wizualne i techniczne, nie używam kreatorów witryn typu Elementor. 
                </p>
                <a href="mailto:kontakt@futurewebstudio.pl" class="button magnetic fadeIn" title="Realizacje" data-strength="100" data-strength-text="50">
                  <span>Napisz do mnie</span>
                  <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>        
                </a>
              </div>
            </div>
            <div class="offset-md-2 col-md-4">
                <div class="about-img-wrap d-none d-md-block">
                    <div class="fadeIn">
                        <div class="mt-5" data-scroll data-scroll-speed="0.7">
                          {% Image "src/assets/img/about/responsive-2.jpg", "O mnie tło" %}
                        </div>  
                    </div>
                    <div class="fadeIn">
                        <div class="mb-md-4-2" data-scroll data-scroll-speed="-0.5">
                          {% Image "src/assets/img/about/avatar.jpg", "Avatar" %}
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
