<section class="pt-xlarge pb-xlarge" data-scroll-section>
    <div class="container">
      <div class="col-md-10 mx-auto">
        <div class="row gy-5">
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-business.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-egp.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-ecotech.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-c7med.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-bianca.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-staltom.png" alt="">
          </div> 
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-master.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-uce.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-soul.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-chrome.png" alt="">
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-gaszyn.png" alt=""> 
          </div>
          <div class="col-md-2">
            <img src="/assets/img/clients/logo-eco.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>