<section class="clients pb-large pb-md-xlarge" data-scroll-section>
  <div class="container">
    <div class="row gx-0 pb-medium">
      <div class="offset-md-1 col-md-10">
        <h2 class="xl split-text-lines">
          Zaufali mi<span class="dot">.</span>
        </h2>
        <div class="pt-small">
          <div class="line-x"></div>
        </div>
      </div>
    </div>
    <div class="col-md-10 mx-auto overflow-hidden">
      <div class="clients-wrap">
        <div class="row gx-0 gy-0">
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-business.png" alt="Klient 1" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-egp.png" alt="Klient 2" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-ecotech.png" alt="Klient 3" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-bianca.png" alt="Klient 4" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-c7med.png" alt="Klient 5" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-staltom.png" alt="Klient 6" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-master.png" alt="Klient 7" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-uce.png" alt="Klient 8" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-soul.png" alt="Klient 9" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-chrome.png" alt="Klient 10" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-eco.png" alt="Klient 11" loading="lazy">
          </div>
          <div class="col-4 col-md-3 col-lg-2 client-item">
            <img src="/assets/img/clients/logo-gaszyn.png" alt="Klient 12" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>