    <section class="pt-medium" data-scroll-section> 
        <div class="container">
            <div class="">
                <div class="line-x"></div>
            </div>
            <!--
            <div class="pt-medium text-center">
                <p class="h3 mt-0">
                    W miarę jak internet staje się coraz bardziej popularny w dzisiejszym społeczeństwie. Twoja obecność w sieci jest więc zdecydowanie priorytetem. 
                </p>
            </div>
            -->
        </div>
    </section>