<section class="pt-xsmall pb-large bg-dark" data-scroll-section>
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-4 pt-medium" id="faq">
        <div
          class="pb-small"
          data-scroll
          data-scroll-sticky
          data-scroll-target="#faq"
        >
          <h2 class="h2 mt-3 mb-4 color-heading split-text-lines">
            Najczęściej <br />zadawane pytania<span class="dot">.</span>
          </h2>
          <p class="color-text split-text-lines">
            Nie znajdujesz odpowiedzi na swoje pytania? Skontaktuj się ze mną,
            chętnie wszystko wyjaśnię.
          </p>
          <div class="fadeIn mb-4">
            <a
              href="mailto:kontakt@futurewebstudio.pl"
              class="button light magnetic"
              title="Realizacje"
              data-strength="100"
              data-strength-text="50"
            >
              <span>Napisz do mnie</span>
              <svg
                width="11"
                height="11"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13 1L1 13"
                  stroke="var(--color-accent-1)"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3 1H13V11"
                  stroke="var(--color-accent-1)"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="offset-md-1 col-md-5 pt-md-small">
        <div class="accordion-wrap">
          <div class="line-x lx-op lx-light d-md-none"></div>

          {% for post in collections.faq %}
          <div class="mt-4 pt-xsmall pb-xsmall">
            <div class="accordion">
              <div class="h4 title color-heading split-text-lines">
                {{ post.data.title }}
              </div>
              <div class="icon fadeIn"></div>
            </div>
            <div class="panel col-md-11">
              <p class="color-text">
                {{ post.data.answer }}
              </p>
            </div>
          </div>

          <div class="line-x lx-op lx-light"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
