<section class="hero pt-large pt-md-medium bg-normal" data-scroll-section>
  <div class="container">
    <div class="">
        <h1 class="xxxxl split-text-header mt-4 mb-3 mb-md-0">
          Strony www
        </h1>
        <p class="h3 uppercase split-text-lines mt-0 mb-5">
          Dobre firmy mają dobre strony internetowe które przynoszą rezultaty
        </p>
        <div class="overflow-hidden bg-accent fadeIn">
          <p class="h6 color-dark uppercase loop-text mt-1 mb-0">
            <span>Tworzę atrakcyjne strony www które dostarczają dobre wyniki biznesowe. Zdobądź piękną, wysokowydajną stronę, która przekona więcej klientów niż strona Twojej konkurencji.</span>
            <span>Tworzę atrakcyjne strony www które dostarczają dobre wyniki biznesowe. Zdobądź piękną, wysokowydajną stronę, która przekona więcej klientów niż strona Twojej konkurencji.</span>
          </p>
        </div>
    </div>

    <div class="fadeIn">
      {% Image "src/assets/img/hero/cover.png", "Strony www - realizcje nr 1" %}
    </div>

    <!--
    <section class="hero-parallax-h fadeIn">
      <div class="hero-parallax-h-content" id="direction">
        <div class="parallax-h-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
          data-scroll-speed="-2">
          {% Image "src/assets/img/hero/parallax-item-1.png", "Strony www -
          realizcje nr 1" %}
        </div>
        <div class="parallax-h-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
          data-scroll-speed="1">
          {% Image "src/assets/img/hero/parallax-item-2.png", "Strony www -
          realizcje nr 2" %}
        </div>
        <div class="parallax-h-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
          data-scroll-speed="-1">
          {% Image "src/assets/img/hero/parallax-item-3.png", "Strony www -
          realizcje nr 3" %}
        </div>
      </div>
    </section>
    -->

  </div>
</section>
