<section
  class="hero hero-intro-header pt-medium pb-xsmall pb-md-large"
  data-scroll-section
>
  <div class="container pt-small pt-md-medium pb-small pb-md-medium">
      <div class="row">
        <div class="offset-md-1 col-md-6">
          <p id="greeting" class="mb-3 fadeIn"></p>
          <h1 class="xl split-text-lines w-md-120 mt-1 mb-4">
           Pokaż się w internecie &nbsp;<br class="d-none d-md-block"/>z najlepszej strony<span class="dot">.</span>
          </h1>
          <p class="split-text-lines mt-0 mb-4 mb-md-3">
            Zdobądź piękną, wysokowydajną stronę, która przekona więcej klientów niż strony Twojej konkurencji i dostarczy dobre wyniki biznesowe.
          </p>
          <a href="/wycena/" class="button magnetic fadeIn" title="Realizacje" data-strength="80" data-strength-text="40">
            <span>Darmowa wycena</span>
            <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>        
          </a>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <svg xmlns="http://www.w3.org/2000/svg" class="rotate-text" viewBox="0 0 500 500">
            <defs>
              <path id="textcircle" d="M250,400
                           a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z" transform="rotate(12,250,250)" />
            </defs>
            <g class="textcircle">
              <text textLength="1042">
                <textPath 
                          xlink:href="#textcircle" 
                          aria-label="CSS & SVG are awesome" 
                          textLength="1042">
                  Tu się tworzy dobre strony | Tu się tworzy dobre strony |&#160;
                </textPath>
              </text>
            </g>
          </svg>
        </div>
      </div>
  </div>
</section>

