<section
  class="hero hero-intro-header pt-medium pb-xsmall pb-md-large"
  data-scroll-section
>
  <div class="container pt-small pb-small">
      <div class="row">
        <div class="offset-md-1 col-md-7">
          <p id="greeting" class="mt-0 fadeIn"></p>
          <h1 class="xxl split-text-lines mt-3">
            Dobre firmy mają dobre strony www<span class="dot">.</span>
          </h1>
          <span id="greeting" class="d-none"></span>
          <p class="split-text-lines">
            Tworzę atrakcyjne strony internetowe które dostarczają dobre wyniki biznesowe. Zdobądź piękną, wysokowydajną stronę, która przekona znacznie więcej klientów niż strony Twojej konkurencji.
          </p>
          <a href="/realizacje/" class="button magnetic fadeIn" title="Realizacje" data-strength="100" data-strength-text="50">
            <span>Zobacz prace</span>
            <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>        
          </a>
        </div>
        <div class="offset-md-1 col-md-3 pt-xsmall d-none">
          <svg class="hero-arrow" fill="none" viewBox="0 0 127 192" xmlns="http://www.w3.org/2000/svg" height="135" width="90"><path d="M63.5 1L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path><path d="M126 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path><path d="M1 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path></svg>
        </div>
      </div>
  </div>
</section>

