<section class="hero-2 pt-xlarge pt-md-large pb-xsmall" data-scroll-section>
    <div class="container">
        <div class="col-md-10 mx-auto text-center">
          <p id="greeting" class="text-medium bold mt-0 mb-3 fadeIn"></p>
            <h1 class="xxl split-text-lines my-0">
              Dzięki moim usługom zwiększysz zyski w firmie
            </h1>
            <p class="text-medium bold split-text-lines mt-4 mt-md-5 col-md-9 mx-auto">
              Zdobądź piękną, wysokowydajną stronę internetową, która przekona znacznie więcej klientów niż strony Twojej konkurencji.
            </p>
        </div>
    </div>
</section>
  
  