<section class="hero pt-medium" data-scroll-section>
  <div class="container">
      <div class="row">
        <div class="col-md-8 pt-medium pb-md-medium">
          <p id="greeting" class="mb-4"></p>
          <h1 class="xxl split-text-lines mt-3 mb-4">
            Dobre firmy mają dobre strony www<span class="dot">.</span>
          </h1>
          <p class="text-medium split-text-lines col-md-10">
            Tworzę atrakcyjne strony www które dostarczają dobre wyniki biznesowe. Zdobądź piękną, wysokowydajną stronę, która przekona znacznie więcej klientów niż strony Twojej konkurencji.
          </p>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <img src="/assets/img/hero/longscroll.png" alt="">
          <!--
          <svg class="hero-arrow" fill="none" viewBox="0 0 127 192" xmlns="http://www.w3.org/2000/svg" height="135" width="90"><path d="M63.5 1L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path><path d="M126 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path><path d="M1 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path></svg>
          -->
        </div>
      </div>
  </div>
</section>

