<section class="hero-intro-header pt-xlarge pt-md-large pb-xsmall" data-scroll-section>
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-lg-9">
          <h1 class="xxl split-text-lines">
            <span class="text-stroke ts-1">Tworzę nowoczesne </span><br/><span class="text-stroke ts-2"> strony internetowe </span><span class="dot"> .</span>
          </h1>
        </div>
        <div class="col-lg-2 d-none d-lg-flex align-items-end pb-small fadeIn">
          <svg width="107" height="172" viewBox="0 0 127 192" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M63.5 1L63.5 191" stroke="var(--color-dark-1)" stroke-width="3" stroke-linecap="round"/>
            <path d="M126 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-width="3" stroke-linecap="round"/>
            <path d="M1 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-width="3" stroke-linecap="round"/>
            </svg>            
        </div>
      </div>
    </div>
  </section>
  <section class="d-none d-md-block" data-scroll-section>
    <div class="line-x lx-2"></div>
  </section>
  <section class="hero-intro-footer" data-scroll-section>
    <div class="container">
      <div class="row">
    <div class="offset-md-1 col-md-3 border-right fadeIn d-none d-md-block">
      <svg class="logo logo-hero" viewBox="0 0 563 271" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2783_2)">
        <rect x="105" width="6" height="271" fill="black"/>
        <rect x="174" width="12" height="271" fill="black"/>
        <rect x="130" width="6" height="271" fill="black"/>
        <rect x="114" width="12" height="271" fill="black"/>
        <rect x="146" width="6" height="271" fill="black"/>
        <rect width="9" height="271" transform="matrix(-1 0 0 1 199 0)" fill="black"/>
        <rect width="7" height="271" fill="black"/>
        <rect x="47" width="9" height="271" fill="black"/>
        <rect x="10" width="3" height="271" fill="#333333"/>
        <rect x="20" width="3" height="271" fill="#333333"/>
        <rect x="35" width="8" height="271" fill="black"/>
        <rect width="12" height="271" transform="matrix(-1 0 0 1 101 0)" fill="black"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 73 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 142 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 83 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 161 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 231 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 266 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 275 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 316 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 206 0)" fill="#333333"/>
        <rect width="3" height="271" transform="matrix(-1 0 0 1 212 0)" fill="#333333"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 66 0)" fill="black"/>
        <rect width="9" height="271" transform="matrix(-1 0 0 1 547 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 500 0)" fill="black"/>
        <rect width="11" height="271" transform="matrix(-1 0 0 1 471 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 528 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 563 0)" fill="black"/>
        <rect x="320" width="9" height="271" fill="black"/>
        <rect x="332" width="6" height="271" fill="black"/>
        <rect x="363" width="6" height="271" fill="black"/>
        <rect x="402" width="12" height="271" fill="black"/>
        <rect x="347" width="3" height="271" fill="#333333"/>
        <rect x="373" width="3" height="271" fill="#333333"/>
        <rect x="383" width="3" height="271" fill="#333333"/>
        <rect x="392" width="3" height="271" fill="#333333"/>
        <rect x="418" width="3" height="271" fill="#333333"/>
        <rect x="446" width="3" height="271" fill="#222222"/>
        <rect x="478" width="3" height="271" fill="#222222"/>
        <rect x="487" width="3" height="271" fill="#222222"/>
        <rect x="513" width="3" height="271" fill="#222222"/>
        <rect x="551" width="3" height="271" fill="#222222"/>
        <rect x="453" width="3" height="271" fill="#222222"/>
        <rect x="216" width="5" height="271" fill="black"/>
        <rect x="243" width="6" height="271" fill="black"/>
        <rect width="11" height="271" transform="matrix(-1 0 0 1 441 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 307 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 284 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 294 0)" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_2783_2">
        <rect width="563" height="271" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
    <div class="offset-md-1 col-md-6 fadeIn">
      <p class="mt-0">
        <span id="greeting"></span>. Tworzę strony internetowe które pozyskują klientów. Dbam o użyteczność, atrakcyjną formę i ergonomię, żeby jak najlepiej zrealizować cel biznesowy. Postaw na specjalistyczne wsparcie i rozwijaj swój biznes. 
      </p>
      <a href="/realizacje/" class="button magnetic" title="Realizacje" data-strength="100" data-strength-text="50">
        <span>Zobacz realizacje</span>
        <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
      </a>
    </div>
  </div>
  </div>
  </section>
  <section class="hero-parallax" data-scroll-section>
    <div class="hero-parallax-content fadeIn" id="direction">
      <div class="parallax-item" data-scroll data-scroll-direction="horizontal" 
      data-scroll-target="#direction"
      data-scroll-speed="4">
      {% Image "src/assets/img/hero/parallax-item-3.png", "Strony www - realizcje nr 3" %}
    </div>

    <div class="parallax-item" data-scroll data-scroll-direction="horizontal" 
    data-scroll-target="#direction"
      data-scroll-speed="-3">
      {% Image "src/assets/img/hero/parallax-item-1.png", "Strony www - realizcje nr 1" %}
    </div>

    <div class="parallax-item" data-scroll data-scroll-direction="horizontal" 
    data-scroll-target="#direction"
      data-scroll-speed="4">
      {% Image "src/assets/img/hero/parallax-item-2.png", "Strony www - realizcje nr 2" %}
    </div>

    <div class="parallax-item" data-scroll data-scroll-direction="horizontal"
    data-scroll-target="#direction" 
      data-scroll-speed="-3">
      {% Image "src/assets/img/hero/parallax-item-3.png", "Strony www - realizcje nr 3" %}
    </div>

    <div class="parallax-item" data-scroll data-scroll-direction="horizontal"
    data-scroll-target="#direction" 
      data-scroll-speed="2">
      {% Image "src/assets/img/hero/parallax-item-1.png", "Strony www - realizcje nr 1" %}
    </div>

    </div>
  </section>
