<section
  class="hero-intro-header pt-xxlarge pb-small"
  data-scroll-section
>
  <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="xxl split-text-lines mt-3">
            Dobre firmy mają dobre strony www<span class="dot">.</span>
          </h1>
          <span id="greeting" class="d-none"></span>
          <p class="text-medium split-text-lines">
            Tworzę atrakcyjne strony www które dostarczają dobre wyniki biznesowe. Zdobądź piękną, wysokowydajną stronę, która przekona znacznie więcej klientów niż strony Twojej konkurencji.
          </p>
        </div>
        <div class="offset-md-1 col-md-3 pt-xsmall">
          <svg fill="none" viewBox="0 0 127 192" xmlns="http://www.w3.org/2000/svg" height="135" width="90"><path d="M63.5 1L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path><path d="M126 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path><path d="M1 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-linecap="round" stroke-width="3"></path></svg>
        </div>
      </div>
      <div class="pt-medium">
        <div class="line-x"></div>
      </div>
  </div>
</section>

