<section class="pb-small" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-10">
                <h2 class="xl split-text-lines">
                    Najnowsze wpisy<span class="dot">.</span>
                </h2>
                <div class="pt-small">
                    <div class="line-x"></div>
                </div>
            </div>
        </div>
        <div class="row pt-medium">
            <div class="offset-md-1 col-md-10">
                <div class="row gx-3 gx-xl-5">
                    {% for post in collections.posts.slice(0,3) %}
                    <div class="col-md-4 pb-small">
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                            <div class="portfolio-item fadeIn">
                                <div class="parallax-wrap aspect_16-9">
                                    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" loading="lazy" />
                                </div>
                            </div>
                        </a>
                        <p class="capitalize fadeIn mt-4 mb-2">
                            <small>
                                {{ post.data.tags }}
                            </small>
                        </p>
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                            <h3 class="line-clamp-2 h5 fadeIn mt-0 mb-2">
                                {{ post.data.title }}
                            </h3>
                        </a>
                        <a href="{{ post.url }}" title="Czytaj" class="button magnetic fadeIn mt-3 mb-4" data-strength="100" data-strength-text="50">
                            <span>Czytaj</span>
                            <svg width="11" height="11" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <div class="line-x lx-1 lx-op"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>