<section class="pb-large" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-10">
                <h2 class="xl fadeIn">
                    Ciekawostki i porady<span class="dot">.</span>
                </h2>
                <div class="pt-small">
                    <div class="line-x"></div>
                </div>
            </div>
        </div>
        <div class="row pt-medium">
        <div class="offset-md-1 col-md-10">
            <div class="row gx-5">
                {% for post in collections.posts.slice(0,3) %}
                    <div class="col-md-4 fadeIn mb-5 mb-md-0">
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                            <div class="portfolio-item">
                                <div class="parallax-wrap aspect_16-9">
                                    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" loading="lazy" />
                                </div>
                        </a>
                        <p class="capitalize mb-2">
                            <small>
                                {{ post.data.tags }}
                            </small>
                        </p>
                        <a href="{{ post.url }}" title="{{ post.data.title }}">
                            <h2 class="archive-post-title h5 mt-0 mb-3">
                                {{ post.data.title }}
                            </h2>
                        </a>
                        <div class="line-x lx-1 lx-op"></div>
                        <a href="{{ post.url }}" title="Czytaj" class="link-arrow mt-4 mb-2">
                            Czytaj
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L1 13" stroke="var(--color-dark-1)" stroke-width="1"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3 1H13V11" stroke="var(--color-dark-1)" stroke-width="1"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>
</section>