<!--
<section class="d-none d-md-block" data-scroll-section>
  <div class="line-x lx-2"></div>
</section>
-->
<div class="fadeIn">
<section class="hero-parallax container d-none d-md-block" data-scroll-section>
      <div class="hero-parallax-content" id="direction">
      <div class="parallax-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
        data-scroll-speed="4">
        {% Image "src/assets/img/hero/parallax-item-3.png", "Strony www -
        realizcje nr 3" %}
      </div>
      <div class="parallax-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
        data-scroll-speed="-3">
        {% Image "src/assets/img/hero/parallax-item-1.png", "Strony www -
        realizcje nr 1" %}
      </div>
      <div class="parallax-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
        data-scroll-speed="4">
        {% Image "src/assets/img/hero/parallax-item-2.png", "Strony www -
        realizcje nr 2" %}
      </div>
      <div class="parallax-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
        data-scroll-speed="-3">
        {% Image "src/assets/img/hero/parallax-item-3.png", "Strony www -
        realizcje nr 3" %}
      </div>
      <div class="parallax-item" data-scroll data-scroll-direction="horizontal" data-scroll-target="#direction"
        data-scroll-speed="2">
        {% Image "src/assets/img/hero/parallax-item-1.png", "Strony www -
        realizcje nr 1" %}
      </div>
    </div>
  </section>
  </div>

  <section class="d-md-none fadeIn" data-scroll-section>
    <div class="container">
      <img src="/assets/img/hero/hero-mobile.webp" width="770" height="438" alt="Przemek Miros - Strony internetowe">
    </div>
  </section>