
<section class="pt-small pb-large bg-dark" data-scroll-section>
  <div class="container">

    <div class="row pin-gallery">

      <div class="offset-md-1 col-md-5">
                <div class="left">
                    <div class="detailsWrapper">
                        <div class="details">
                            <h2 class="pin-headline">
                                Przykładowa realizacja nr 1
                            </h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                        </div>

                        <div class="details">
                            <h2 class="pin-headline">
                                Przykładowa realizacja nr 2
                            </h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                        </div>

                        <div class="details">
                            <h2 class="pin-headline">
                                Przykładowa realizacja nr 3
                            </h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                        </div>

                        <div class="details pb-medium">
                            <h2 class="pin-headline">
                                Przykładowa realizacja nr 4
                            </h2>
                            <p class="text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                            </p>
                        </div>

                    </div>
                </div>
      </div>

      <div class="col-md-6" id="pinSection2">
        <div class="pb-small" data-scroll data-scroll-sticky data-scroll-target="#pinSection2">
                <div class="right">
                    <div class="photos">
                        <div class="photo">
                            <img class="swipeimage" src="https://przemekmiros.pl/realizacje/img/egp-thumb.jpg">
                        </div>
                        <div class="photo">
                            <img class="swipeimage" src="https://przemekmiros.pl/realizacje/img/business-thumb.jpg">
                        </div>
                        <div class="photo">
                            <img class="swipeimage" src="https://przemekmiros.pl/realizacje/img/egp-thumb.jpg">
                        </div>
                        <div class="photo">
                            <img class="swipeimage" src="https://przemekmiros.pl/realizacje/img/business-thumb.jpg">
                        </div>

                    </div>
                </div>
        </div>
      </div>

    </div>
  </div>
</section>
