<section class="pt-medium" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-10">
                <h2 class="xxl fadeIn">
                    Zobacz realizacje<span class="dot">.</span>
                </h2>
                <div class="pt-small">
                    <div class="line-x"></div>
                </div>
            </div>
        </div>


        <div class="row gx-0 pt-medium pt-md-large pb-small pb-md-large">
            <div class="offset-md-1 col-md-10">
                <div class="row gx-5 works-grid">
                    {% for post in collections.works %}
                    <div class="col-md-6 works-grid-item pb-small pb-md-medium">
                        <div class="archive-post pb-xsmall fadeIn">
                            <a href="{{ post.url }}" title="{{ post.data.title }}">
                                <div class="portfolio-item">
                                    <div class="parallax-wrap aspect_16-12">
                                        <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" loading="lazy" />
                                    </div>
                                </div>
                            </a>
                                <p class="archive-post-date mt-4 mb-2">
                                    <small>{{ post.data.category }}</small>
                                </p>
                            <a href="{{ post.url }}" title="{{ post.data.title }}">
                                <h2 class="archive-post-title h4 mt-0">
                                    {{ post.data.client }}
                                </h2>
                            </a>
                            <a href="{{ post.data.link }}" title="{{ post.data.title }}" class="button mt-2 mb-2">
                            <span> Zobacz online</span>
                            <svg width="11" height="11" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        </div>
                        <div class="line-x lx-1 lx-op"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>