<section class="pb-medium" data-scroll-section>
    <div class="container">
        <div class="col-md-10 mx-auto">
            <div class="pb-large">
                <div class="line-x"></div>
            </div>
            <div class="row pb-xsmall">
                <div class="col-md-5">
                    <h2 class="h2 mt-0 mb-5 split-text-lines">
                        Proces realizacji <br />strony internetowej<span class="dot">.</span>
                    </h2>
                </div>
                <div class="offset-md-1 col-md-6">
                    <p class="mt-0 mb-5 split-text-lines" >
                        Tworzę strony internetowe, które pomagają w sprzedaży produktów oraz usług. Projekt graficzny oraz funkcje, dostosowuje do branży oraz potrzeb klientów.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6 col-sm-4 col-xl-2">
                    <div class="step-card">
                        <div class="step-card-num fadeIn">
                            01
                            <span class="step-card-border"></span>
                        </div>
                        <h3 class="h6 mt-2 split-text-lines">
                            Rozpoznam potrzeby klientów 
                        </h3>
                        <!--
                        <p class="small split-text-lines">
                            Proces projektowania strony www rozpoczynam od określenia potrzeb oraz oczekiwań klienta. Zbieramy informacje o usługach, produktach oraz wyzwaniach stawianych przed firmą. Ustalamy wspólnie cele, które strona ma realizować.
                        </p>
                        -->
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-2">
                    <div class="step-card">
                        <div class="step-card-num fadeIn">
                            02
                            <span class="step-card-border"></span>
                        </div>
                        <h3 class="h6 mt-2 split-text-lines">
                            Przygotuje szkic strony www
                        </h3>
                        <!--
                        <p class="small split-text-lines">
                            Dobra strona internetowa potrzebuje fundamentu, na którym zostanie oparta. Tworzymy architekturę wszystkich informacji, na podstawie której stworzony zostanie projekt graficzny. Gotowe makiety przedstawiam klientowi.
                        </p>
                        -->
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-2">
                    <div class="step-card">
                        <div class="step-card-num fadeIn">
                            03
                            <span class="step-card-border"></span>
                        </div>
                        <h3 class="h6 mt-2 split-text-lines">
                            Stworzę projekt graficzny
                        </h3>
                        <!--
                        <p class="small split-text-lines">
                            Przygotowuje projekt graficzny na podstawie wcześniejszych ustaleń. Tworzę nowoczesny, estetyczny oraz niezwykle intuicyjny projekt, który przedstawiam klientowi do akceptacji. Na każdym etapie można zgłaszać swoje uwagi.
                        </p>
                        --->
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-2">
                    <div class="step-card">
                        <div class="step-card-num fadeIn">
                            04
                            <span class="step-card-border"></span>
                        </div>
                        <h3 class="h6 mt-2 split-text-lines">
                            Wykonam prace programistyczne
                        </h3>
                        <!--
                        <p class="small split-text-lines">
                            Gotowy projekt łączę z systemem CMS, instaluje wszystkie niezbędne wtyczki oraz zabezpieczenia. Korzystam z najnowszych technologii, wyposażając stronę w pakiet nowoczesnych rozwiązań.
                        </p>
                        -->
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-2">
                    <div class="step-card">
                        <div class="step-card-num fadeIn">
                            05
                            <span class="step-card-border"></span>
                        </div>
                        <h3 class="h6 mt-2 split-text-lines">
                            Zoptymalizuje i przetestuje stronę
                        </h3>
                        <!--
                        <p class="small split-text-lines">
                            Zgłaszam stronę do indeksu Google. Dbamy o jej właściwe indeksowanie w wyszukiwarce. Testuje także szybkość ładowania strony i jej właściwe wyświetlanie we wszystkich przeglądarkach oraz na różnych urządzeniach.
                        </p>
                        -->
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-xl-2">
                    <div class="step-card">
                        <div class="step-card-num fadeIn">
                            06
                            <span class="step-card-border"></span>
                        </div>
                        <h3 class="h6 mt-2 split-text-lines">
                            Uruchomię stronę na serwerze
                        </h3>
                        <!--
                        <p class="small split-text-lines">
                            Gotową, przetestowaną stronę internetową umieszczam na serwerze i podłączam pod wybraną domenę. Konfiguruje konta pocztowe oraz przeprowadzamy ostatnie testy funcjonowania wszystkich narzędzi. 
                        </p>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>