<section class="pt-small pb-medium" data-scroll-section>
    <div class="container">
        <div class="pb-large">
            <div class="line-x"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="h1 my-0 split-text-lines">
                    Zobacz proces realizacji<span class="dot">.</span>
                </h2>
            </div>
            <div class="col-md-6">
                <p class="my-0 split-text-lines" >
                    
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="step-card">
                    <div class="step-card-num">
                        01
                        <span class="step-card-border"></span>
                    </div>
                    <h3 class="split-text-lines">
                        Koncepcja i research
                    </h3>
                    <p class="split-text-lines">
                        Planuję, szkicuje, śledzę trendy i nowinki techniczne.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>